* {
  padding: 0;
  margin: 0; }

html {
  background: #000000 url(images/html-bg.png) right top no-repeat;
  height: 100%; }

body {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1MTUxNSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iIzE1MTUxNSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzE1MTUxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNTE1MTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: linear-gradient(rgba(21, 21, 21, 0) 0%, rgba(21, 21, 21, 0) 730px, #151515 830px, #151515 100%);
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.5; }

img {
  border: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

.karkas {
  width: 960px;
  margin: 0 auto; }

.header {
  margin: 0 0 20px 0; }

.logo {
  margin: 190px 0 0 20px; }

.menu {
  overflow: hidden;
  margin: 230px 0 0 0;
  list-style: none;
  background: rgba(0, 0, 0, 0.6); }
  .menu li {
    float: left;
    font-size: 17px;
    margin: 10px 10px 0 10px;
    line-height: 1; }
    .menu li:first-child {
      float: left;
      font-size: 17px;
      margin: 10px 10px 0 0;
      line-height: 1; }
    .menu li a {
      color: #f3f3f3;
      text-transform: uppercase;
      padding: 10px 15px 20px 15px;
      display: block; }
      .menu li a.active {
        background: #232323;
        border-radius: 5px 5px 0 0; }

.content-main {
  color: #565656;
  font-size: 13px;
  overflow: hidden;
  padding: 40px 0; }
  .content-main a {
    color: #777777; }
  .content-main p {
    margin-bottom: 20px; }
  .content-main h1 {
    color: #dbdada;
    font-size: 17px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 5px; }
    .content-main h1 a {
      color: #dbdada; }
  .content-main img {
    border: 2px solid #151515;
    margin: 0 0 20px 0;
    display: block; }

.content-main-bocks {
  overflow: hidden; }
  .content-main-bocks div {
    float: left;
    width: 277px;
    margin: 0 21px; }

.read-more {
  color: #000000 !important;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 7px;
  background: #444444; }

.footer-wrapper {
  background: #080808; }

.footer-main {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0; }

.footer-left {
  float: left; }
  .footer-left img {
    float: left; }
  .footer-left p {
    float: left;
    color: #fefcfc;
    font-size: 14px;
    padding: 14px 0 0 10px; }
    .footer-left p a {
      color: #fefcfc; }

.footer-right {
  float: right;
  margin: 10px 0 0 0; }
  .footer-right img {
    margin: 0 10px; }

.ex-place,
.ex-date,
.ex-ticket {
  padding: 0 0 0 35px; }

.ex-place {
  background: url(images/ex-place.jpg) no-repeat left 50%; }

.ex-date {
  background: url(images/ex-date.jpg) no-repeat left 50%; }

.ex-ticket {
  background: url(images/ex-ticket.jpg) no-repeat left 50%; }

/* ABOUT page */
.content-left {
  float: left;
  width: 607px;
  padding: 0 20px 0 10px; }

.sidebar {
  float: right;
  width: 283px;
  padding: 0 20px; }

.img-left {
  float: left;
  margin: 0 20px 0 0 !important; }

/* CONTACT page */
.contact-form p {
  font-size: 17px;
  color: #565656; }

.contact-form label {
  width: 150px;
  display: block;
  float: left; }

.contact-form input[type=text] {
  width: 300px;
  padding: 6px 20px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 17px;
  border-radius: 10px; }
  .contact-form input[type=text]:focus {
    border: 1px solid #484848 !important;
    outline: none; }

.contact-form textarea {
  width: 410px;
  height: 150px;
  padding: 6px 20px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 17px;
  border-radius: 10px; }
  .contact-form textarea:focus {
    border: 1px solid #484848 !important;
    outline: none; }

.contact-address,
.contact-phone,
.contact-mail,
.contact-liciense {
  padding: 0 0 0 30px; }

.contact-address {
  background: url(images/ex-place.jpg) 0 50% no-repeat; }

.contact-phone {
  background: url(images/contact-phone.jpg) 0 50% no-repeat; }

.contact-mail {
  background: url(images/contact-mail.jpg) 0 50% no-repeat; }

.contact-liciense {
  background: url(images/contact-licensia.jpg) 0 50% no-repeat; }

/* PORTFOLIO page */
.portfolio-image {
  float: left;
  margin: 0 0 30px 0; }

.portfolio-image:nth-child(2n) {
  float: right; }

/* Elastislide Style */
.elastislide-list {
  list-style-type: none;
  display: none; }

.no-js .elastislide-list {
  display: block; }

.elastislide-carousel ul li {
  min-width: 20px;
  /* minimum width of the image (min width + border) */ }

.elastislide-wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  min-height: 60px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }

.elastislide-wrapper.elastislide-loading {
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-position: center center; }

.elastislide-horizontal {
  padding: 30px 60px;
  margin-bottom: 30px;
  margin-top: -40px; }

.elastislide-vertical {
  padding: 40px 10px; }

.elastislide-carousel {
  overflow: hidden;
  position: relative; }
  .elastislide-carousel ul {
    position: relative;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
    .elastislide-carousel ul li {
      margin: 0;
      -webkit-backface-visibility: hidden; }
      .elastislide-carousel ul li a {
        display: inline-block;
        width: 100%; }
        .elastislide-carousel ul li a img {
          display: block;
          max-width: 100%;
          margin: 0 auto;
          border: none; }

.elastislide-horizontal ul {
  white-space: nowrap; }
  .elastislide-horizontal ul li {
    height: 100%;
    display: inline-block; }

.elastislide-vertical ul li {
  display: block; }

/* Navigation Arrows */
.elastislide-wrapper nav span {
  position: absolute;
  background: url("../images/nav.jpg") no-repeat 0 0;
  width: 38px;
  height: 38px;
  text-indent: -9000px;
  cursor: pointer; }

.elastislide-wrapper nav span:hover {
  opacity: 1.0; }

.elastislide-horizontal nav span {
  top: 50%;
  left: 10px;
  margin-top: -19px; }

.elastislide-vertical nav span {
  top: 10px;
  left: 50%;
  margin-left: -11px;
  background-position: -17px 5px; }

.elastislide-horizontal nav span.elastislide-next {
  right: 10px;
  left: auto;
  background-position: 0px -38px; }

.elastislide-vertical nav span.elastislide-next {
  bottom: 10px;
  top: auto;
  background-position: -17px -18px; }

/* Custom Elastislide Styling */
.demo-1 .elastislide-horizontal {
  padding: 10px 37px;
  border-radius: 10px/90px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), inset -10px 0 10px 1px rgba(155, 155, 155, 0.1), inset 10px 0 10px 1px rgba(155, 155, 155, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), inset -10px 0 10px 1px rgba(155, 155, 155, 0.1), inset 10px 0 10px 1px rgba(155, 155, 155, 0.1); }

.demo-1 .elastislide-wrapper:before,
.demo-1 .elastislide-wrapper:after {
  content: '';
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 20px;
  width: 50%;
  height: 20%;
  border-radius: 10px/90px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg); }

.demo-1 .elastislide-wrapper:after {
  right: 20px;
  left: auto;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg); }

.demo-2 .elastislide-vertical {
  max-width: 170px;
  padding: 37px 10px;
  border-radius: 90px/10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 0 -10px 10px 1px rgba(155, 155, 155, 0.1), inset 0 10px 10px 1px rgba(155, 155, 155, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 0 -10px 10px 1px rgba(155, 155, 155, 0.1), inset 0 10px 10px 1px rgba(155, 155, 155, 0.1); }

.demo-2 .elastislide-vertical:before {
  top: 30px;
  bottom: 30px;
  left: 0;
  right: 0;
  content: " ";
  position: absolute;
  z-index: -2;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  border-radius: 20px/160px; }

.demo-2 .elastislide-vertical:after {
  content: " ";
  position: absolute;
  z-index: -2; }

.demo-3 .elastislide-horizontal {
  background-color: #000;
  padding: 30px 60px; }

.no-touch .demo-3 .elastislide-horizontal {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.no-touch .demo-3 .elastislide-horizontal:hover {
  opacity: 1; }

.demo-3 .elastislide-wrapper nav span {
  background-color: #000000; }

.demo-3 .elastislide-carousel ul li a {
  padding: 0 10px; }

.demo-3 .elastislide-carousel ul li a img {
  border-radius: 10px;
  border: none; }

.demo-4 .elastislide-horizontal {
  background-color: transparent;
  border-radius: 20px 20px 0 0; }

.demo-3 .elastislide-horizontal.elastislide-loading,
.demo-4 .elastislide-horizontal.elastislide-loading {
  background-image: url("../images/loading_dark.gif"); }

.demo-4 .elastislide-carousel ul li a {
  padding: 2px; }

.demo-4 .elastislide-carousel ul li a img {
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0 1px 2px #000000;
          box-shadow: 0 1px 2px #000000; }

.demo-4 .elastislide-wrapper nav span {
  background-color: #666666;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2); }

.demo-4 .image-preview img {
  border-radius: 0 0 20px 20px;
  max-width: 100%;
  display: block; }

.demo-4 .elastislide-carousel ul li.current-img a img {
  -webkit-box-shadow: 0 0 3px 2px rgba(62, 235, 255, 0.8);
          box-shadow: 0 0 3px 2px rgba(62, 235, 255, 0.8); }

@media screen and (max-width: 460px) {
  .demo-3 .elastislide-horizontal {
    padding: 10px 40px; } }
