/* ABOUT page */

.content-left {
  float: left;
  width: 607px;
  padding: 0 20px 0 10px;
}

.sidebar {
  float: right;
  width: 283px;
  padding: 0 20px;
}

.img-left {
  float:left;
  margin: 0 20px 0 0 !important;
}
