/* CONTACT page */

.contact-form {
  p {
  font-size: 17px;
  color: #565656;
  }

  label {
    width: 150px;
    display: block;
    float: left;
  }

  input[type=text] {
    width: 300px;
    padding: 6px 20px;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 17px;
    border-radius: 10px;

    &:focus {
      border: 1px solid #484848!important;
      outline: none;
    }
  }

  textarea {
    width: 410px;
    height: 150px;
    padding: 6px 20px;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 17px;
    border-radius: 10px;

    &:focus {
      border: 1px solid #484848!important;
      outline: none;
    }
  }
}

.contact-address,
.contact-phone,
.contact-mail,
.contact-liciense {
  padding: 0 0 0 30px;
}

.contact-address {
  background: url(images/ex-place.jpg) 0 50% no-repeat;
}

.contact-phone {
  background: url(images/contact-phone.jpg) 0 50% no-repeat;
}

.contact-mail {
  background: url(images/contact-mail.jpg) 0 50% no-repeat;
}

.contact-liciense {
  background: url(images/contact-licensia.jpg) 0 50% no-repeat;
}
