.ex-place,
.ex-date,
.ex-ticket {
  padding: 0 0 0 35px;
}

.ex-place {
  background: url(images/ex-place.jpg) no-repeat left 50%;
}

.ex-date{
  background: url(images/ex-date.jpg) no-repeat left 50%;
}

.ex-ticket {
  background: url(images/ex-ticket.jpg) no-repeat left 50%;
}
